footer{
    margin-top: 100px;
    background-color: rgb(204, 188, 191);
    height: 600px;
    display: flex;
    bottom: 0;
    position: relative;
}


.face, .insta, .yt{
    width: 45px;
    height: auto;
    margin-right: 20px;
}

.face:hover, .insta:hover, .yt:hover, .tt:hover{
transform: scale(1.07);
cursor: pointer;
}

.tt{
    width: 50px;
    height: auto;
}

.logo{
    margin-top: 80px;
    width: 250px;
    height: auto;
    margin-bottom: 30px;
}

.bloco1{
    margin-left: 150px;
    width: 1000px;
}

.p1{
    color: rgb(90, 69, 75);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-bottom: 80px;
}

.bloco2, .bloco3{
    margin-right: 80px;
}

.bloco2, .bloco3, .bloco4{
margin-top: 80px;
display: flex;
flex-direction: column;
}

a{
    margin-top: 30px;
    text-decoration: none;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
a:hover{
    color: rgb(82, 74, 76);
}

.redes-sociais{
    margin-bottom: 40px;
}

p{
    color: rgb(82, 74, 76);
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    }

.bloco-links{
    display: flex;
    margin-bottom: 145px;
}

.parte-embaixo{
    display: flex;
}

.parte-embaixo a{
    margin-right: 40px;
}

.p-idioma{
    margin-top: 30px;
    font-size: 18px;
}

.p2{
    font-size: 15px;
}
.p2:hover{
cursor: pointer;
}

