.main-content{
    display: flex;
    background-color: rgb(209, 214, 212);
    padding-bottom: 100px;
}


.fotoellenlinda img{
    margin-top: 80px;
    margin-left: 50px;
    width: 500px;
    height: auto;
}

.text-sobremim{
    color: gray;
    margin-top: 20px;
    font-size: 30px;
    margin-left: 100px;
    margin-right: 100px;
}
.titulo-sobremim{
    margin-top: 280px;
    margin-left: 100px;
}

.portfolio img{
    margin-top: 50px;
    width: 180px;
}

.content-fotos{
    background-color: rgb(209, 214, 212);
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
    padding-top: 50px;
}

.content-fotos img{
    height: 600px;
    margin-right: 40px;
    width: auto;
}

.content-fotos img:hover{
    box-shadow: 10px 10px 10px gray;
    transform: scale(1.05);
    transition: 1s;
}
.content-main{
    display: flex;
    gap: 15px;
    padding: 15px 100px;
    flex-wrap: wrap;
    justify-content: center;
}
.campo_pesquisa{
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
}

.exibindo{
    display: flex;
justify-content: center;
}

.botao_pesquisa{
    height: 40px;
    width: 500px;
    border: 1px solid #706666;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 5px;
    border-radius: 25px;
    font-size: 15px;
}



.botao_pesquisa:focus {
    outline: 1px solid rgb(91, 80, 84);
    background-color: #f0f0f0;  
   }

.lupa{
    margin-top: 5px;
    width: 35px;
    cursor: pointer;
}

.text-resultados{
    font-size: 18px;
    margin: 0;
    font-weight: 250;
}

.resultados{
    display: flex;
    justify-content: center;
}

.titulo-projetos{
    display: flex;
    justify-content: center;
    color: #806868;
    margin-top: 85px;
    font-size: 20px;
}
.blocoviagens{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.viagem{
    width: 500px;
}


.titulo-projetoss{
    display: flex;
    justify-content: center;
    color: #806868;
    margin-top: 85px;
    font-size: 40px;
    margin-top: 160px;
}

.bloco-viagem{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    padding-bottom: 30px;
    background-color: #c8c7c7;
    margin-right: 60px;
}

.bloco-viagem:hover{
    box-shadow: 10px 10px 10px rgb(206, 206, 206);
}

.acesse{
   cursor: pointer;
   width: 150px;
   height: 40px;
   font-size: 20px;
   margin-top: 30px;
   border-style: none;
   border-radius: 15px;
   color: #706666;
}
.acesse:hover{
    transform: scale(1.01);
    transition: 0.01s;
    box-shadow: 10px 10px 10px rgb(149, 146, 146); 
 }