.main-content{
    display: flex;
    background-color: rgb(209, 214, 212);
    padding-bottom: 100px;
}


.fotoellenlinda img{
    margin-top: 80px;
    margin-left: 50px;
    width: 500px;
    height: auto;
}

.text-sobremim{
    color: gray;
    margin-top: 20px;
    font-size: 30px;
    margin-left: 100px;
    margin-right: 100px;
}
.titulo-sobremim{
    margin-top: 280px;
    margin-left: 100px;
}

.portfolio img{
    margin-top: 50px;
    width: 180px;
}

.content-fotos{
    background-color: rgb(209, 214, 212);
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
    padding-top: 50px;
}

.content-fotos img{
    height: 600px;
    margin-right: 40px;
    width: auto;
}

.content-fotos img:hover{
    box-shadow: 10px 10px 10px gray;
    transform: scale(1.05);
    transition: 1s;
}
.content-main{
    display: flex;
    gap: 15px;
    padding: 15px 100px;
    flex-wrap: wrap;
    justify-content: center;
}
.campo_pesquisa{
    padding: 15px 100px;
}
.botao_pesquisa{
    height: 30px;
    border: 1px solid #f0f0f0;
    border-radius: 5px;

}
.botao_pesquisa:focus {
    outline: 1px solid rgb(138, 157, 255);  
   }
.botao_pesquisa.visited {
    outline: 1px solid rgb(138, 157, 255);   
}
